<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipselabs.recommenders.bookmark"
            name="Bookmark++">
      </category>
      <view
            category="org.eclipselabs.recommenders.bookmark"
            class="org.eclipselabs.recommenders.bookmark.view.BookmarkViewManager"
            icon="icons/bfolder_obj.gif"
            id="org.eclipselabs.recommenders.bookmark.views.BookmarkView"
            name="Bookmarks++">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipselabs.recommenders.bookmark.views.BookmarkView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipselabs.recommenders.bookmark.preferences.BookmarkPreferencePage"
            id="org.eclipselabs.recommenders.bookmark.preferences.BookmarkPreferencePage"
            name="Bookmark++">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipselabs.recommenders.bookmark.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipselabs.recommenders.bookmark.importWizards.sampleCategory"
            name="Bookmark++">
      </category>
      <wizard
            category="org.eclipselabs.recommenders.bookmark.importWizards.sampleCategory"
            class="org.eclipselabs.recommenders.bookmark.importWizards.ImportWizard"
            icon="icons/sample.gif"
            id="org.eclipselabs.recommenders.bookmark.importWizards.ImportWizard"
            name="Import Bookmarks">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>


</plugin>
